{% extends "base_account.html" %}

{% block title %}
  Reset your password
{% endblock %}

{% block form_title %}
  Reset your password
{% endblock %}

{% block content %}
    {% if validlink %}
        <p>Please enter your new password twice:</p>
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p><input class="btn btn-lg btn-primary" type="submit" value="Change my password" /></p>
        </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it has already
        been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}
