{% extends "base.html" %}

{% block title %}Trainer / {{trainer.name}} {% endblock %}

{% block page_title %} {{trainer.name}} {% endblock %}

{% block content %}
    {% csrf_token %}
    {% load trainer_extras %}
    <table>
        <tbody>
        <tr>
            <td style="vertical-align: top;">
            {% if trainer.avatar %}
                <img src="{{ trainer.avatar.url }}" alt="{{ trainer.name }}" title="{{ trainer.name }}" />
            {% endif %}
            </td>
            <td style="padding: 30px; vertical-align: top;">
                {{ trainer.description|linebreaks }}

                {% if event_list %}
                <h3>Events</h3>
                <table width="100%">
                <thead>
                    <tr>
                        <td style="padding-bottom: 10px">
                            <b>Name</b>
                        </td>
                        <td>
                            <b>Start date/time</b>
                        </td>
                        <td>
                            <b>End date/time</b>
                        </td>
                        <td>
                            <b>Price</b>
                        </td>
                        <td>
                            <b>Places</b>
                        </td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {% for event in event_list %}
                    <tr>
                        <td style="padding-bottom: 10px">
                            {{ event.name }}
                        </td>
                        <td>
                            {{ event.start|formated_date }}
                        </td>
                        <td>
                            {{ event.end|formated_date }}
                        </td>
                        <td>
                            {{ event.price }}
                        </td>
                        <td>
                            {{ event.book_places }}
                        </td>
                        <td>
                            {% if event.book_places > 0 %}
                                <a href="{{ event.get_absolute_url }}">Detail</a>
                            {% else %}
                                Sold out
                            {% endif %}

                            {% comment %}
                            {% if request.user in event.user.all %}
                                Booked
                            {% else %}
                                <form action="{% url 'trainer:event-book' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="user_id" value="{{ request.user.pk }}" />
                                    <input type="hidden" name="event_id" value="{{ event.pk }}" />
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    <button class="btn btn-sm btn-primary" type="submit">Book</button>
                                  </form>
                            {% endif %}
                            {% endcomment %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
                {% endif %}
                {% include "like_dislike/includes/container.html" with pk=trainer.pk model="trainer" like_count=trainer.votes.like_count dislike_count=trainer.votes.dislike_count %}

                {% if request.user.is_authenticated %}
                <div class="mt-2">
                <h3>Add comment</h3>
                <form action="{% url 'trainer:add-comment' %}" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                    <input type="hidden" name="trainer_id" value="{{ trainer.pk }}" />
                <p><input type="submit" class="btn btn-sm btn-primary" value="Add comment"></p>
                </form>
                </div>
                {% endif %}

                {% if page_obj %}
                <div class="mt-2">
                    <h3>Comments</h3>
                    {% for comment in page_obj %}
                    <div style="border-bottom: 1px solid gray">
                        <p>
                            Username: <i>{{ comment.user.username }}</i> <i>({{ comment.created|formated_date }})</i>
                        </p>
                        {{ comment.body|linebreaks }}
                    </div>
                    {% include "like_dislike/includes/container.html" with pk=comment.pk model="comment" like_count=comment.votes.like_count dislike_count=comment.votes.dislike_count %}
                    {% endfor %}
                </div>
                {% include "includes/pagination.html" %}
                {% endif %}

            </td>
        </tr>
        </tbody>
    </table>

{% endblock %}

{% load static %}
{% block scripts %}
<script src="{% static 'like_dislike/js/manage.js' %}"></script>
{% endblock %}
